body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;

        }

        /* Навигация */
        nav {
            background-color: #333;
            padding: 15px 0;
        }

        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        /* Контент */
        .container {
            padding: 40px 20px;
        }

        h1 {
            margin-bottom: 10px;
        }

        #about{
            margin-bottom: 30px;
        }


        p {
            margin-bottom: 20px;
        }

        .about {
            margin: 2px;
         }

        img {
            max-width: 300px;
            width: 100%;
        }

        /* Футер */
        footer {
            background-color: #333;
            color: white;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
            font-size: 14px;
        }

        .form-container {
            background-color: white;
            max-width: 400px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            text-align: left;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            text-align: center;
           
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        textarea {
            resize: vertical;
            min-height: 80px;
        }

        button {
            display: block;
            width: 100px;
            padding: 8px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 0 auto;
        }

        button:hover {
            background-color: #555;
        }

        .submission p{
            color: green;
        }